<p id="notice"><%= notice %></p>

<p>
  <%= @page.revisions.last.contents %>
</p>
<p>
  last edited by 
  <%= @page.revisions.last.users.name %> 
  on 
  <%= time_ago_in_words(@page.revisions.last.created_at) %> 
  ago
</p>

<p>
  <b>Title:</b>
  <%= @page.title %>
</p>

<p>
  <b>Test strategy:</b>
  <%= @page.test_strategy %>
</p>

<p>
  <b>Setup steps:</b>
  <%= @page.setup_steps %>
</p>


<%= #link_to 'Edit', edit_page_path(@page) 
    link_to 'Edit', page_edit_url(:title => @page.title) 
%> |
<%= link_to 'Back', pages_path %>
